*{
    background-color: black;

 }
 .container{
   
  margin-top: 250px;
  margin-left: 250px;
  justify-content: center;
  align-items: center ;  
 }
button
{
    margin: 15px;
}
.header{
    color: white;
    margin: 15px;
   
}
.counterText{
    color: white;
    margin: 15px;
}
.decrement{
    background-color: white;
    color: black;
    height: 30px;
    width: 100px
   
}
.increment{
    background-color: white;
    color: black;
     height: 30px;
    width: 100px;


}
.reset{
    color: white;
    border-color: white;
    height: 30px;
    width: 100px;
}
.message{
   
    color: white;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom-style:solid;
    border-bottom-width: 1.5px;
    width: fit-content;
}
